html {
  scroll-behavior: smooth;
}
/* Title Section */
.title{
  background-image: url(../image/Index-back.jpg);
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
  background-size: cover;
  color: white;
}
.title-h1{
  margin:0;
  padding: 15rem 0 2rem 0;
}
.title-h2{
  margin: 0;
  padding: 0 0 15rem 0;
}

/* Navigation Section */
#navbar-top:hover{
  opacity: 0.9;
}
.icon{
  padding-top: .6rem;
 color: #fff;
}

.nav-item{
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-weight: 600;
}
.cards-h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.cards-pic
{
	border-radius:50%;
  margin-bottom:20px;
	width: 90px;
}

.cards-h3
{
	font-size:20px;
	font-weight:700;
}

.cards-p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/* Send-Adventure Section */
.Send-Adventures{
  text-align: center;
  padding: 5rem 7rem 3rem 7rem;
}
.send-h2{
  padding-bottom: 2rem;
}

/* footer section */
.footer{
  background-color: #2b2e4a;
  color: #fff;
  overflow: hidden;
}
.footer-p{
  text-align: center;
}
